
/**
 * Reset
 */
html, body
{
	padding: 0px;
	margin: 0px;
	min-height: 100%;
}

a
{
	color: $color-link;
	text-decoration: none;
	@include transition-property(color);
	@include transition-duration(0.1s);
	
	&:hover
	{
		color: $color-link-hover;
		text-decoration: none;
	}
}
